# [LAB-02] Pandas

## #02. Series 객체의 기능

### 라이브러리 참조

In [1]:
import numpy as np
from pandas import Series

In [2]:
my1 = Series([10,20,30], index=['hello','world','nice'])
my1

hello    10
world    20
nice     30
dtype: int64

In [ ]:
# 리스트나 ndarray를 통한 객체 생성시 인덱스 직접 지정 가능
my2 = Series({"world":1,"test":2,"hello":3})
my2

world    1
test     2
hello    3
dtype: int64

In [ ]:
# 연산 대상이 없을 경우 Nan 처리
merge = my1+my2
merge

hello    13.0
nice      NaN
test      NaN
world    21.0
dtype: float64

In [6]:
addon = my1 + 1000
addon

hello    1010
world    1020
nice     1030
dtype: int64

In [7]:
times = my1 * 5
times

hello     50
world    100
nice     150
dtype: int64

In [8]:
column = Series([188,92,45,63,79])

print("합계:",column.sum())
print("평균:", column.mean())
print("최대:", column.max())
print("최소:", column.min())
print("분산:", column.var())
print("표준편차:", column.std())
print("중앙값:", column.median())
print("1사분위 수:", column.quantile(0.25))
print("2사분위 수:", column.quantile(0.5))
print("3사분위 수:", column.quantile(0.75))

합계: 467
평균: 93.4
최대: 188
최소: 45
분산: 3106.2999999999993
표준편차: 55.73419058351883
중앙값: 79.0
1사분위 수: 63.0
2사분위 수: 79.0
3사분위 수: 92.0

In [9]:
column = Series(np.arange(0,100,10))
column

0     0
1    10
2    20
3    30
4    40
5    50
6    60
7    70
8    80
9    90
dtype: int64

In [10]:
in1 = column[column>30]
in1

4    40
5    50
6    60
7    70
8    80
9    90
dtype: int64

In [11]:
in2 = column[column<=70][column>10]
in2

2    20
3    30
4    40
5    50
6    60
7    70
dtype: int64

In [12]:
in3 = column[(column<=10) | (column>=70)]
in3

0     0
1    10
7    70
8    80
9    90
dtype: int64

In [13]:
origin = Series(np.arange(0,100,10))
origin.info()

<class 'pandas.core.series.Series'>
RangeIndex: 10 entries, 0 to 9
Series name: None
Non-Null Count  Dtype
--------------  -----
10 non-null     int64
dtypes: int64(1)
memory usage: 212.0 bytes

In [14]:
x = origin.astype('float')
x.info()

<class 'pandas.core.series.Series'>
RangeIndex: 10 entries, 0 to 9
Series name: None
Non-Null Count  Dtype
--------------  -----
10 non-null     float64
dtypes: float64(1)
memory usage: 212.0 bytes

In [15]:
y = origin.astype('str')
y.info()

<class 'pandas.core.series.Series'>
RangeIndex: 10 entries, 0 to 9
Series name: None
Non-Null Count  Dtype
--------------  -----
10 non-null     object
dtypes: object(1)
memory usage: 212.0+ bytes

In [16]:
my_dict = {"c": 456,"a":123,"b":789}
origin = Series(my_dict)

sort1 = origin.sort_values()
sort1

a    123
c    456
b    789
dtype: int64

In [17]:
sort2 = origin.sort_values(ascending=False)
sort2

b    789
c    456
a    123
dtype: int64

In [18]:
sort3 = origin.sort_index()
sort3

a    123
b    789
c    456
dtype: int64

In [19]:
sort4 = origin.sort_index(ascending=False)
sort4

c    456
b    789
a    123
dtype: int64

In [21]:
scores = {"국어": 85, "영어": 92, "수학":78, "과학": 95, "사회": 88}
origin = Series(scores)
origin

국어    85
영어    92
수학    78
과학    95
사회    88
dtype: int64

In [22]:
print("수학 점수:", origin["수학"])

수학 점수: 78

In [26]:
print("90점 이상인 과목:\n", origin[origin>=90])

90점 이상인 과목:
 영어    92
과학    95
dtype: int64

In [27]:
avg = origin.mean()
avg

np.float64(87.6)