# [LAB-02] Pandas - 5. 데이터 내보내기

## 라이브러리 참조

In [1]:
from hossam import load_data

In [2]:
origin = load_data('grade')
origin

[data] https://data.hossam.kr/data/grade.xlsx
[desc] 어느 학급의 과목별 점수를 조사한 가상의 데이터

field    description
-------  -------------
이름     index
학년     int
성별     str
국어     int
영어     int
수학     int
과학     int

    학년  성별  국어   영어  수학  과학
이름
철수   1  남자  98   77  88  64
영희   2  여자  88  120  62  72
민철   1  남자  92   70  83  79
수현   3  여자  63   60  31  71
호영   4  남자  75   50  90  88
영호   4  남자  80   88  91  72
용식   2  남자  82   88  79  90
나영   1  여자  90   92  81  95
석영   1  남자  91   90  89  80

In [4]:
origin.to_excel("1.xlsx")

In [ ]:
origin.to_excel("2.xlsx",
                index=True, # 행 인덱스 포함 여부
                index_label="Name" # 행 인덱스 열 이름 지정
                )

In [ ]:
origin.to_excel("3.xlsx",
                index=False, # 행 인덱스 미포함
                columns=['학년', '성별','국어'], # 내보낼 열 지정
                header=['level','sex','kor'] # 열 이름 지정
                )

In [10]:
origin.to_csv("1.csv", encoding='utf-8')

In [ ]:
origin.to_csv("2.csv",
              encoding="utf-8", # 인코딩 지정
              index=True, # 행 인덱스 포함 여부
              index_label="Name" # 행 인덱스 열 이름 지정
              )

In [ ]:
origin.to_csv("3.csv",
              encoding="utf-8",
              index=False, # 행 인덱스 미포함
              columns=['학년','성별','국어'], # 내보낼 열 지정
              header=['level','sex','kor'] # 열 이름 지정
              )